.profile-container{
    margin: 100px 5px;
    border-radius: 5px;
    /* color: black; */
    /* overflow: hidden;  */
    width: 100%;
    display:  inline-block;
    background-color: #fff;
    /* box-shadow: 0 0 8px grey; */
}
.header-profile{
    width: 30%;
    margin-left: 7%;
    /* display: inline-block; */
    float: left;
    box-shadow: 0 0 8px grey;
    border-radius: 5px;
}


.background{
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    /* position: relative; */
}
.avatar{
    margin: 0;
    padding: 0;
    background-color: aqua;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 170px;
    border: 5px solid white;
}
.info{
    margin: 80px 10px 30px 10px;
    padding-top: 20px;
    display: block;
    text-align: left;
    border-top: 2px solid #ddd;
    font-size: 15px;
}

.post-user{
    float: right;
    width: 54%;
    margin-right: 7%;
    /* display: inline-block; */
    box-shadow: 0 0 8px grey;
    border-radius: 5px;
    font-size: 15px;
    text-align: left;

}
.a{
    text-decoration: none;
    color: #000;
}